*{

margin: 0px;
padding: 0px;

}

:root {
 --Black: black;

}

nav{

background-color: var(--Black);
height: 40px;

}
ul{

 color: white;
    display: flex;
}
nav ul li{
    
 align-items: center;
    margin: 10px 20px;

}